.leaflet-container{
  background: #ebebebc7;
}
.leaflet-control-zoom, .leaflet-touch .leaflet-bar {
  box-shadow: none !important;
  border-radius: unset;
}
.leaflet-control-zoom a {
  width: 52px !important;
  height: 52px !important;
  border-radius: 32px !important;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(27, 41, 83, 0.24);
  line-height: 52px !important;
  margin: 8px 0;
  font-weight: 500;
  font-size: 28px;
  font-family: Rubik;
  color: #242b43 !important;
}