@font-face {
  font-family: "Rubik"; /*Rubik-Regular*/
  font-weight: 400;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Regular"),
    url("./Rubik-Regular.woff2") format("woff2"),
    url("./Rubik-Regular.woff") format("woff"),
    url("./Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik"; /*Rubik-Medium*/
  font-weight: 500;
  font-display: swap;
  src: local("Rubik Medium"), local("Rubik-Medium"),
    url("./Rubik-Medium.woff2") format("woff2"),
    url("./Rubik-Medium.woff") format("woff"),
    url("./Rubik-Medium.ttf") format("truetype");
}
