@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik"; /*Rubik-Regular*/
  font-weight: 400;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Regular"),
    url("./assets/fonts/Rubik-Regular.woff2") format("woff2"),
    url("./assets/fonts/Rubik-Regular.woff") format("woff"),
    url("./assets/fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik"; /*Rubik-Medium*/
  font-weight: 500;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Medium"),
    url("./assets/fonts/Rubik-Medium.woff2") format("woff2"),
    url("./assets/fonts/Rubik-Medium.woff") format("woff"),
    url("./assets/fonts/Rubik-Medium.ttf") format("truetype");
}

html {
  font-family: "Rubik", "Helvetica Neue", "Arial", sans-serif;
  color: #242b43;
}

body {
  margin: 0;
  padding: 0;
}

svg {
  display: inline-block;
}
